body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cereal-container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.cereal-img {
  width: 30%;
  height: auto;
}

.cart-item {
  border: 2px black;
  background-color: lightgrey;
  margin: 32px;
}
.checkout-item {
  border: 2px black;
  background-color: lightgrey;
}
.checkout-split {
  display: flex;
}
.checkout-items-container {
  height: 60vh;
  overflow-y: auto;
}

.checkout-form {
  flex: 0 0 50%;
}
.order-summary-col {
  display: flex;
  flex-direction: column;
  background-color: #3b8ea5;
  border: 2px solid black;
}
.order-summary-header {
}
