body {
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cereal-container {
  display: flex;
  flex-direction: row;
  /* flex-wrap: wrap; */
}

.cereal-img {
  width: 30%;
  height: auto;
}

.cart-item {
  border: 2px black;
  background-color: lightgrey;
  margin: 10px;
}

.cart-item-img {
  height: 30vh;
}
.cart-content {
  display: flex;
}
.cart-items-col {
  flex: 0 0 80%;
  background-color: #3b8ea5;
}
.cart-item-header {
  background-color: white;
  font-weight: 500;
  font-size: large;
  padding: 10px;
}
.cart-item-content {
  display: flex;
}

.cart-item-info {
  margin-left: 10px;
}

.cart-items {
  display: flex;
  flex-direction: column;
}
.checkout-item {
  background-color: lightgrey;

  margin: 10px;
  display: flex;
  flex-direction: column;
}
.checkout-item-header {
  background-color: white;
  font-weight: 500;
  font-size: large;
  padding: 10px;
}

.checkout-item-content {
  display: flex;
  padding: 10px;
}
.checkout-item-info {
  margin-left: 10px;
}
.checkout-split {
  display: flex;
}
.checkout-items-container {
  height: 60vh;
  overflow-y: auto;
}

.checkout-form-col {
  flex: 0 0 45%;
  margin-right: 10px;
}
.order-summary-col {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  background-color: #3b8ea5;
  padding: 3px;
}
.order-summary-header {
  color: white;
  padding: 10px;
  font-size: larger;
  font-weight: 600;
}
.checkout-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-item {
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
}
