body {
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

.cereal-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

.product-item {
  flex: 0 0 28%;
  border-radius: 5px;
  background-color: #8a51db;
  height: 275px;
  margin: 10px;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
}

.product-img {
  border-radius: 5px;
  height: 200px;
  width: 200px;
  object-fit: contain;
  background-color: white;
  padding: 5px;
}

.cart-view {
  display: flex;
  flex-direction: column;
}

.cart-item {
  border: 2px black;
  background-color: lightgrey;
  margin: 10px;
}

.cart-item-img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  background-color: white;
  padding: 5px;
}
.cart-content {
  display: flex;
}
.cart-info-col {
  background-color: lightgrey;
  margin-left: 10px;
  flex: 0 0 25%;
  padding: 5px;
  height: 100px;
}
.cart-items-col {
  margin-right: 10px;
  height: 70vh;
  flex: 0 0 70%;
  background-color: #3b8ea5;
  border-top: 10px solid #3b8ea5;
  border-bottom: 10px solid #3b8ea5;
  overflow-y: auto;
}
.cart-item-header {
  background-color: white;
  font-weight: 500;
  font-size: large;
  padding: 10px;
}
.cart-item-content {
  display: flex;
  padding: 10px;
}

.cart-item-info {
  margin-left: 10px;
  margin-top: 10px;
}
.cart-item-info-line {
  display: inline;
  margin: 10px 0px;
}

.cart-items {
  display: flex;
  flex-direction: column;
}
.checkout-item {
  background-color: lightgrey;

  margin: 10px;
  display: flex;
  flex-direction: column;
}
.checkout-item-header {
  background-color: white;
  font-weight: 500;
  font-size: large;
  padding: 10px;
}

.checkout-item-content {
  display: flex;
  padding: 10px;
}
.checkout-item-info {
  margin-left: 10px;
}
.checkout-item-img {
  height: 200px;
  width: 200px;
  object-fit: contain;
  background-color: white;
  padding: 5px;
}
.checkout-split {
  display: flex;
}
.checkout-items-container {
  overflow-y: auto;
}
.stripe-div {
  background-color: #8a51db;
  padding: 5px;
  color: white;
  text-align: center;
  font-weight: 700;
}
.stripe-button {
  font-size: medium;
  font-weight: 700;
  border-radius: 5px;
  padding: 3px;
  margin: 3px;
}
.checkout-form-col {
  flex: 0 0 45%;
  margin-right: 10px;
}
.order-summary-col {
  flex: 0 0 50%;
  display: flex;
  flex-direction: column;
  background-color: #3b8ea5;
  height: 75vh;
  border-bottom: 5px solid #3b8ea5;
}
.order-summary-header {
  color: white;
  padding: 10px;
  font-size: larger;
  font-weight: 600;
}
.checkout-form {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
}

.form-item {
  margin: 5px 0px;
  display: flex;
  flex-direction: column;
}

.form-item input {
  padding: 5px 0px;
}

.orders-view {
  background-color: #8a51db;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;
  align-items: center;
  padding: 32px;
  color: white;
  border-radius: 16px;
}

.orders-item {
  margin: 16px;
  width: 95%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.orders-header {
  background-color: #f48b29;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
}

.orders-details {
  background-color: #c93a1e;
  padding: 32px;
}

.orders-btn {
  background-color: #c93a1e;
  color: white;
  border-radius: 8px;
  padding: 16px;
}
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

.nav-content h1 {
  margin: 0px;
}

.nav-content a {
  margin: 10px;
}

a {
  color: black;
}
@media (max-width: 765px) {
  .product-item {
    flex: 0 0 40%;
    height: 275px;
    margin: 20px;
    padding: 5px;
  }

  .product-img {
    height: 200px;
    width: 200px;
  }
}

@media (max-width: 745px) {
  .nav-content {
    display: flex;
    flex-direction: column;
    color: purple;
  }

  .nav-content h1 {
    margin: 0px;
  }

  .nav-content a {
    margin: 10px;
  }

  .checkout-item-img {
    height: 125px;
    width: 125px;
  }

  .checkout-form-col {
    flex: 0 0 50%;
  }
  .order-summary-col {
    flex: 0 0 45%;
  }
}

@media (max-width: 690px) {
  .cart-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cart-info-col {
    text-align: center;
    background-color: lightgrey;
    padding: 5px;
    height: 50px;
    width: 90vw;
    margin: 5px;
  }
  .cart-items-col {
    width: 90vw;
    margin: 10px;
  }
}

@media (max-width: 650px) {
  .checkout-item-img {
    height: 150px;
    width: 150px;
  }
  .checkout-split {
    display: flex;
    flex-direction: column-reverse;
  }

  .checkout-form-col {
    margin: 10px;
  }
  .order-summary-col {
    display: flex;
    flex-direction: column;

    height: 100%;
    border-bottom: 5px solid #3b8ea5;
  }
}

@media (max-width: 540px) {
  .product-item {
    flex: 0 0 90%;

    height: 275px;
    margin: 20px;
    padding: 5px;
  }

  .product-img {
    height: 200px;
    width: 200px;
    object-fit: contain;
  }
}

@media (max-width: 430px) {
  .nav-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
  }

  .nav-content h1 {
    margin: 0px;
    text-align: center;
  }

  .nav-content a {
    margin: 10px;
  }

  .nav-content nav div {
    display: flex;
    justify-content: space-evenly;
  }
  .cart-item-img {
    height: 150px;
    width: 150px;
    padding: 5px;
  }
}

.detailed-product-container {
  background-color: #8a51db;
  display: flex;
  align-content: stretch;
  flex-direction: row;
  justify-content: flex-start;
  padding: 32px;
  color: white;
  border-radius: 16px;
}

.single-product-img {
  height: 300px;
  width: 300px;
  object-fit: contain;
  background-color: white;
  padding: 10px;
}

.single-product-info {
  display: flex;
  flex-direction: column;
  background-color: lightgrey;
  border-radius: 16px;
  padding: 28px;
  color: black;
  margin-left: 20px;
}

.profile-container {
  display: flex;
  background-color: #f48b29;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  border-radius: 16px;
}

.edit-profile-container {
  display: flex;
  background-color: #f48b29;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  padding: 32px;
  border-radius: 16px;
}
